<div class="wrapper">
  <div class="card bg-secondary" style="min-width: 350px; width: 25vw; --bs-bg-opacity: .5;"
    *ngFor="let list of user?.lists">
    <div class="card-body d-flex" style="padding-bottom: 0; padding-right: 0; flex-direction: column;">
      <div style="display: flex; justify-content: space-between;">
        <h5 class="card-title ms-0">{{list.title}}</h5>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-link" aria-controls="dropdown-basic">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <button class="dropdown-item d-flex justify-content-between" (click)="editListModal(list)" href="#">Edit
                <i style="align-self: center;" class="fa fa-edit"></i>
              </button>
            </li>
            <hr style="margin: 3px;">
            <li role="menuitem">
              <button class="dropdown-item d-flex justify-content-between" (click)="deleteList(list)" href="#">Delete
                <i style="align-self: center;" class="fa fa-trash"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <p class="card-text">{{list.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="display: flex; flex-wrap: wrap;" *ngFor="let task of list.tasks">
        <div style="display: flex; justify-content: space-between;  flex-basis: 100%;">
          <button style="flex-grow: 1;" class="btn btn-link p-0 pe-2" (click)="changeState(task.id)"
            [attr.arria-expanded]="!getCollapse(task.id)" aria-controls="collapseBasic" title="{{task.title}}">
            {{task.title}}
          </button>
          <i class="fa fa-circle" style="align-self: center;" [ngStyle]="{'color': getStyles(task)}"></i>
        </div>
        <div id="collapseBasic" [collapse]="getCollapse(task.id)" style="flex-basis: 100%; margin-top: 0.5vh;">
          <div class="border p-1">
            <p style="margin: 0;">Description: </p>
            <hr style="margin: 0;">
            {{task.description}}
            <div style="display:flex; justify-content: space-between; margin-top: 2em;">
              <p style="margin: 0;">
                {{task.expiryDate | date:'MM/dd/yy hh:mm a'}}
              </p>
              <div style="display: flex; justify-self: flex-end;">
                <button class="btn btn-link" style="padding: 0px;" (click)="editTaskModal(task)"><i
                    class="fa fa-edit"></i></button>
                <button class="btn btn-link" style="padding: 0px; margin-left: 0.25em;" (click)="deleteTask(task)"><i
                    class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="card-body p-1">
      <div style="display: flex; justify-content: center;">
        <button class="btn btn-link p-0" (click)="addTaskModal(list)"><i class="fa fa-plus-square fa-2x"></i></button>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-self: flex-start; justify-content: center; height: 200px;">
    <button class="btn btn-link" (click)="addListModal()">
      <i class="fa fa-plus-square-o fa-3x"></i>
    </button>
  </div>
</div>
<style>
  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .edit-button {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5vh;
    padding: 0;
    opacity: 0.15;
    transition: 0.3s;
  }

  .edit-button:hover {
    opacity: 1;
  }

  .btn-link {
    text-decoration: none;
    color: black;
  }

  .card {
    margin: 1em;
  }

  .list-card {}
</style>